@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Dash = " - ";
    ViewBag.SubTitle = "My Podcasts";
}
<h1>@ViewBag.SubTitle</h1>

<p>Click <a href="https://baconsale.com/">Here</a> to go to the website of my favorite podcast, Baconsale!</p>
